/*
$colors: (
  //primary: #027082,
  primary:    #003c99,
  //primary: #0e9edb,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);*/

$primary:    #003c99;
$secondary:  #98b2db;
$danger:     #f53d3d;
$light:      #f4f4f4;
$dark:       #222;